head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="power 5, power5, football")
  meta(name="description", content="power 5 - football")


  link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='/img/apple-touch-icon.png', rel='apple-touch-icon')
  link(href='/img/images/apple-touch-icon-114x114.png', rel='apple-touch-icon', sizes="114x114")
  link(href='/img/apple-touch-icon-72x72.png', rel='apple-touch-icon', sizes="72x72")
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='power 5 - football')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='power 5')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-responsive.css')
  //- link(rel='stylesheet', href='css/common.css')

  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/skeleton.css')
  link(rel='stylesheet', href='/css/layout.css')
  link(rel='stylesheet', href='/css/flags32.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
