    html { 
      background: url(../img/splash-bg.jpg) no-repeat top center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color:#000;

    }