<section ng-controller="PlayerController" ng-init="find()">
	<h1>manage players</h1>
<br/>
<a href="#!/players/create">Create Player</a>
<br/>
<table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Country</th>
          <th>Defend</th>
          <th>Attack</th>
          <th>Played</th>
          <th>Goals</th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players">
          <!-- <td><a href="#!/players/{{ player._id }}">{{player.name}}</a></td> -->
          <td  class="stretch-col">{{player.name}}</td>
           <td class="f32 mobile-hide"><div class="flag {{player.country | lowercase}}" /></td>
          <td>{{player.defend || 0}}</td>
          <td>{{player.attack || 0}}</td>
          <td>{{player.played || 0}}</td>
          <td>{{player.goals || 0}}</td>
          <td>{{player.team.name}}</td>
          <td><a href="#!/players/{{ player._id }}/edit">Edit</a></td>
          <td><a href="" ng-click="destroy(player)" >Remove</a></td>
        </tr>
        
      </tbody>
    </table>
</section>