<section ng-controller="MyTeamController" ng-init="findOne()">
<!-- <a href="#!/teams/create">Create Team</a> -->
    <div class="three columns alpha mobile-hide">
           <img class="scale-with-grid" src="img/crest.png">
          <div class="details rank">#5,520</div>
                <div class="details coins">1,900 coins</div>
                <button>Edit Team Details</button>
                <hr />
                <p class="light">Last 5 Matches</p>
                 <button>View All Results</button>
                <hr />
            </div>
    <div class="eight columns omega">
			    <h1 class="light">{{team.name}}</h1>
                <p>Est. 01/01/2013</p>
                <hr />
                <table>
                    <thead>
                        <th class="mobile-hide">Country</th>
                        <th>Player</th>
                        <th>Defend</th>
                        <th>Attack</th>
                        <th class="mobile-hide">Apps/Gls</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in team.players">
                            <td class="mobile-hide"><img class="flag flag-{{player.country | lowercase}}" alt="{{player.country}}" /></td>
                            <td class="stretch-col">{{player.name || 0}}</td>
                            <td>{{player.defend || 0}}</td>
                            <td>{{player.attack || 0}}</td>
                            <td class="mobile-hide">{{player.played || 0 }} / {{player.goals || 0}} </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
        <div class="five columns alpha">
            <p class="light">Top Goalscorer (current)</p>
            <p>L. Messi</p>
            <br />
            <p class="light">Top Goalscorer (all-time)</p>
             <p>L. Messi</p>
            <br />
            <p class="light">Most Appearances (current)</p>
             <p>L. Messi</p>
            <br />
            <p class="light">Most Appearances (all-time)</p>
             <p>L. Messi</p>
        </div>
        <div class="three columns omega gr mobile-hide">
            <p>Team Attack</p>
            <div class="graph-holder">
                <label class="graph-label">{{team.totalAttack}}</label>
                <canvas width="140" height="140" val="team.totalAttack" donut-graph></canvas>
             </div>
            <div class="graph-holder" style="margin-top: -26px; z-index: -1;">
                <label class="graph-label">{{team.totalDefend}}</label>
                <canvas width="140" height="140" val="team.totalDefend" donut-graph></canvas>
            </div>
            <p class="add-top-10">Team Defend</p>
        </div>
            
</div>
    
	</section>
