<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<%-partial('head')%>

<body>
<div class="container add-bottom add-top">
      <div class="eleven columns">
          <div class="eleven columns alpha omega" data-ng-include="'views/header.html'"></div>
          <%-body -%>
      </div>
      <div five columns mobile-hide data-ng-include="'views/ads.html'"></div>
</div>

<!-- scripts -->
<%-partial('footer')%>
</body>
</html>